body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
    margin: 0;
}

.stopwatch {
    background: #ecf0f1;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    color: #2980b9;
    margin-bottom: 20px;
}

#display {
    font-size: 3em;
    color: #27ae60;
    margin-bottom: 20px;
}

.buttons button {
    font-size: 1em;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

#start {
    background-color: #27ae60;
    color: #ecf0f1;
}

#start:hover {
    background-color: #2ecc71;
}

#stop {
    background-color: #e74c3c;
    color: #ecf0f1;
}

#stop:hover {
    background-color: #c0392b;
}

#reset {
    background-color: #f79b08;
    color: #ecf0f1;
}

#reset:hover {
    background-color: #e67e22;
}

#lap {
    background-color: #2980b9;
    color: #ecf0f1;
}

#lap:hover {
    background-color: #3498db;
}

#laps {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    text-align: left;
}

#laps li {
    font-size: 1em;
    background: #bdc3c7;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
}
